{% extends "personal/header.html" %}

{% block content %}
<!-- /.home-main -->
    <div class="container">

      <div class="row">

        <div class="col-sm-2 blog-main">
          <div class="blog-post">
            <h4 class="blog-post-title">Game of the Day</h4>
            {% for game in content.0 %}
				<h5><a href="/game/{{game.id}}"> {{game.title}}</a></h5>
			{% endfor %}
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-1 blog-sidebar">
        <div style="border-left:thin #000000 solid; height:786px;" />
          <div class="sidebar-module sidebar-module-inset">
            <div class="major-content">
              <h4>Please select the number of rewards to use</h4>

                <form method='post' action='/game/{{content.3}}/confirm_purchase'>
                  {% csrf_token %}
                    <div class="radio">
                      <label>
                        <input type="radio" name='r' value="0" checked="checked">
                        0
                      </label>
                    </div>
      			      {% for reward in content.2 %}
                  {% if forloop.counter <= 10 %}
        				    <div class="radio">
                      <label>
                        <input type="radio" name='r' value="{{forloop.counter}}">
                        {{forloop.counter}}
                      </label>
                    </div>
                    {% endif %}
      			      {% endfor %}
                  <button class="btn btn-default btn-xs" type="submit">Purchase</button>
                </form>
            </div>
          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <!-- Custom CSS by B -->
    <style>
    .major-content {
      padding-left: 10px;
    }
    </style>

{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
