{% block content %}


<!--This file is not used!!!! I just created it when playing with django-->
<!--This file is not used!!!! I just created it when playing with django-->
<!--This file is not used!!!! I just created it when playing with django-->
<!--This file is not used!!!! I just created it when playing with django-->
<!--This file is not used!!!! I just created it when playing with django-->
<!--This file is not used!!!! I just created it when playing with django-->
<!--This file is not used!!!! I just created it when playing with django-->
<!--This file is not used!!!! I just created it when playing with django-->
<!--This file is not used!!!! I just created it when playing with django-->


{% endblock %}	